<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mystery Shops</title>

    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="assets/css/style.css?v=6.1" /> -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarColor01"> -->
what?
            <a href="/login"> 
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
            </a>
        </div>
        </div>
    </nav>
    <main>


        {{{body}}}
    </main>
    <footer>
        {{!-- <p class="footer-p" style="text-align: center;font-size:12px;color:rgba(121, 60, 141, 0.573);"> --}}
            &copy; 2023
            site part of thatbrowngurl portfolio
            
    </footer>
</body>
</html>