<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="assets/css/style.css?v=6.1" /> -->
    <link rel="stylesheet" href="/assets/css/styles.css?v=7.1" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       
        <a href="/login"><button type="button" class="btn btn-primary navbtn" data-bs-toggle="offcanvas"
                data-bs-target="offcanvasNewShop" aria-controls="offcanvasNewShop">Login</button>
        </a>
        




    </nav>
    <main>
        {{{body}}}


    </main>
    <footer>
        <p class="footer-p" style="text-align: center;font-size:12px;color:rgba(121, 60, 141, 0.573);">&copy; 2023
            site part of thatbrowngurl portfolio</p>
    </footer>

</body>

</html>