<h1>Welcome To Sean's Mystery Shop Application</h1>What the hell?!!
<h3>
    Where you can keep track of your mystery shops and payments.<br></h3>

<p>This application demonstrates my skills to build a full-stack application from start to finish.
    This application uses the MVC paradigm. It also has <br>
<ul>
    <li>User Authentication</li>
    <li>Sequelize as the ORM for the SQL Database</li>
</ul>
</p>