<form action="">
    <h1>ACCOUNT LOGIN</h1>

    <div class="form-group">
        <label for="inputUsername" class="form-label mt-4">Username</label>
        <input type="email" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
            placeholder="Enter email" />
        <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
    </div>
    <button id="login" type="submit" class="btn btn-primary button">Login</button>
    <br>
    <!-- <button  id="signup"   type="button" class="btn btn-outline-primary">New Customer?</button> -->
    <p>New Customer? <a href="/signup">click here</a></p>
</form>
<script src="/assets/js/login.js"></script>