<form action="">
    <h1>ACCOUNT SIGNUP</h1>

    <div class="form-group">
        <label for="usernameInput" class="form-label mt-4">Username</label>
        <input type="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp"
            placeholder="Enter username" />
        <!-- <small id="usernameHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            > -->
    </div>
    <div class="form-group">
        <label for="emailInput" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
            placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="passwordInput" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary button" id="subBtn">Submit</button>
    <br>
</form>
<script src="/assets/js/signup.js"></script>